{% extends "layouts/base.njk" %}

{% block blockHeader %}
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ metadata.author.email }}">
{% endblock blockHeader %}

{% block content %}
<main class="container" style="flex-grow: 100;">
    <h1><a href="{{ page.url }}" style="text-decoration: none; color: black">{{ title }}</a></h1>

    <p>
        <a href="{{ absoluteUrl }}">Veröffentlicht</a> von <span class="fw-bolder">{{ author }}</span> am <time datetime="{{ date | dateIso }}" class="fw-bolder">{{ date | dateIso }}</time>.
{% if mediumurl %}
        <br>Auch verfügbar auf <a href="{{ mediumurl }}" target="about:blank">Medium</a> inkl. Kommentarfunktion.
{% endif %}
    </p>

    <p>{{ description }}</p>

    <h2 class="mt-5">Inhalt</h2>
    <aside>
        {{ content | toc | safe }}
    </aside>
    <article class="mt-5">
        {{ content | safe }}
    </article>
</main>
{% endblock content %}
